    <div class="row extra-margin">
      <div class="col-md-6">
        <h1>Lorem Ipsum Dolor Sit Amet</h1>
        <p class="lead">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        </p>
        <p class="heading"></p>
        <div class="row">
          <div class="col-md-6">
            <h3>Drive</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
            </p>
          </div>
          <div class="col-md-6">
            <h3>Ride</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
            </p>
          </div>
        </div>
        <a class="btn btn-primary" [routerLink]="'/map'">GET STARTED</a>
        <span class="ml-4 mr-2"><b>Questions? Talk to our
            team</b></span> <span class="oi oi-arrow-right"></span>
      </div>
      <div class="col-md-6">
        <img src="assets/img1.png" class="img-fluid" alt="Man in a car watching person cross the road">
      </div>
    </div>

    <div class="row extra-margin">
      <div class="col-md-6">
        <img src="assets/img2.png" class="img-fluid" alt="Man walking to his car">
      </div>
      <div class="col-md-6">
        <h1>Lorem Ipsum Dolor Sit Amet</h1>
        <p class="lead">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        </p>
        <p class="heading"></p>
        <div class="row">
          <div class="col-md-6">
            <h3>Drive</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
            </p>
          </div>
          <div class="col-md-6">
            <h3>Ride</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
            </p>
          </div>
        </div>
        <a class="btn btn-primary" [routerLink]="'/map'">GET STARTED</a>
        <span class="ml-4 mr-2"><b>Questions? Talk to our team</b></span> <span class="oi oi-arrow-right"></span>
      </div>
    </div>

    <div class="row extra-margin">
      <div class="col-md-6">
        <h1>Lorem Ipsum Dolor Sit</h1>
        <p class="lead">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        </p>
        <p class="heading"></p>
        <h5>Lorem ipsum</h5>
        <ul>
          <li><span class="oi oi-circle-check"></span> Lorem ipsum dolor sit amet, consectetur </li>
          <li><span class="oi oi-circle-check"></span> Lorem ipsum dolor sit amet </li>
          <li><span class="oi oi-circle-check"></span> Lorem ipsum dolor sit amet </li>
        </ul>
        <button class="btn btn-primary">GET STARTED</button> <span class="ml-4 mr-2"><b>Questions? Talk to our
            team</b></span> <span class="oi oi-arrow-right"></span>
      </div>
      <div class="col-md-6">
        <img src="assets/img3.png" class="img-fluid" alt="Man in a car watching person cross the road">
      </div>
    </div>

    <div class="row extra-margin">
      <div class="col-md-6">
        <h5>Lorem ipsum dolor</h5>
        <ul>
          <li><span class="oi oi-circle-check"></span> Lorem ipsum dolor sit amet </li>
          <li><span class="oi oi-circle-check"></span> Lorem ipsum dolor sit amet </li>
          <li><span class="oi oi-circle-check"></span> Lorem ipsum dolor sit amet </li>
        </ul>
      </div>
      <div class="col-md-6">
        <h5>Lorem ipsum dolor</h5>
        <ul>
          <li><span class="oi oi-circle-check"></span> Lorem ipsum dolor sit amet </li>
          <li><span class="oi oi-circle-check"></span> Lorem ipsum dolor sit amet </li>
          <li><span class="oi oi-circle-check"></span> Lorem ipsum dolor sit amet </li>
        </ul>
      </div>
    </div>
